:root {
  --main-color: #fff;
  --bg-alternate-color: #fff5f6;
  --hh-main-color: #ffb8ca;
  --hh-alternate-color: #ffa5ba;
  --svg-main-color: #d41342;
  --svg-alternate-color: #fff;
  --svg-hover-color: #ecebeb;
  --svg-contacts-color: #fea5bb;
  --text-main-c: #000;
  --text-alternate-c: #fff;
  --text-header-c: #d41443;
  --text-opacity-c: #ffa5ba;
  --text-description-c: #907e82;
  --b-burger-c: #d41443;
  --b-bg-menu-c: #e17992;
  --add-card-milk: #c2e297;
  --add-card-cofee: #f0d1a5;
  --add-coments: #fafafa;
  --add-underline-comments: #e1e1e1;
  --main-ff: 'DM Sans', sans-serif;
  --additional-ff: 'Titan One', cursive;
}

li {
  list-style: none;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

.customer-img {
  width: 85px;
  margin: 0 auto;
  margin-bottom: 29px;
}

@media screen and (min-width: 768px) {
  .customer-img {
    margin-bottom: 19px;
  }
}

@media screen and (min-width: 1280px) {
  .customer-img {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .customer-slider-container {
    padding: 0 74px;
  }
}

@media screen and (min-width: 1280px) {
  .customer-slider-container {
    padding: 0 177px;
  }
}

.review-article-container {
  padding: 23px 50px 20px 50px;
  margin-bottom: 14px;
}

@media screen and (min-width: 768px) {
  .review-article-container {
    padding: 10px 36px 28px 60px;
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1280px) {
  .review-article-container {
    padding: 30px 190px 32px 200px;
    margin-bottom: -1px;
  }
}

.review-article {
  width: 100%;
  font-weight: 500;
  font-size: 12px;
  line-height: 31px;
  text-align: center;
  padding-left: 7px;
  padding-right: 16px;
  position: relative;
  z-index: 1;
  background-image: repeating-linear-gradient(transparent, transparent 28px, #E1E1E1 28px, #E1E1E1 29px, transparent 29px, transparent 59px, #E1E1E1 59px, #E1E1E1 60px);
}

@media screen and (min-width: 768px) {
  .review-article {
    padding-left: 20px;
    padding-right: 44px;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .review-article {
    padding-left: 50px;
    padding-right: 70px;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
  }
}

.slider-container {
  margin: 0 auto;
}

.customer-untitled {
  position: absolute;
  width: 54px;
  height: 40px;
}

.dots {
  margin-bottom: 18px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .dots {
    margin-bottom: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .dots {
    margin-bottom: 15px;
  }
}

.dots__li {
  display: inline-block;
  width: 4px;
  height: 4px;
}

.dots__li + .dots__li {
  margin-left: 10px;
}

.dots__svg {
  width: 100%;
  height: 100%;
  fill: #c7133e;
}

.customer-name {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .customer-name {
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .customer-name {
    font-size: 16px;
    line-height: 30px;
  }
}

.customer-untitled {
  width: 67px;
  height: 55px;
  position: absolute;
  z-index: -1;
  top: -22px;
  left: -20px;
  fill: #E1E1E1;
}

@media screen and (min-width: 768px) {
  .customer-untitled {
    top: -22px;
    left: -16px;
  }
}

@media screen and (min-width: 1280px) {
  .customer-untitled {
    top: -22px;
    left: 15px;
  }
}
/*# sourceMappingURL=main.css.map */