:root {
  --main-color: #fff;
  --bg-alternate-color: #fff5f6;
  --hh-main-color: #ffb8ca;
  --hh-alternate-color: #ffa5ba;
  --svg-main-color: #d41342;
  --svg-alternate-color: #fff;
  --svg-hover-color: #ecebeb;
  --svg-contacts-color: #fea5bb;
  --text-main-c: #000;
  --text-alternate-c: #fff;
  --text-header-c: #d41443;
  --text-opacity-c: #ffa5ba;
  --text-description-c: #907e82;
  --b-burger-c: #d41443;
  --b-bg-menu-c: #e17992;
  --add-card-milk: #c2e297;
  --add-card-cofee: #f0d1a5;
  --add-coments: #fafafa;
  --add-underline-comments: #e1e1e1;
  --main-ff: "DM Sans", sans-serif;
  --additional-ff: "Titan One", cursive;
}

body {
  color: var(--text-main-c);
  background-color: var(--main-color);
  font-family: var(--main-ff);
  font-style: normal;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

img {
  display: block;
}

.container {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 300px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1080px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.centered {
  margin-right: auto;
  margin-left: auto;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0px;
  transform: translateY(100%);
  transition: transform var(--transition-time-cubic);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  opacity: 1;
  transition: opacity var(--transition-time-cubic);
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.products {
  padding-top: 121px;
  padding-bottom: 98px;
}
@media screen and (min-width: 768px) {
  .products {
    padding-top: 122px;
    padding-bottom: 119px;
  }
}
@media screen and (min-width: 1280px) {
  .products {
    padding-top: 127px;
  }
}

.products__subtitle {
  margin: 0 0 15px 0;
  font-family: var(--additional-ff);
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-opacity-c);
}
@media screen and (min-width: 768px) {
  .products__subtitle {
    font-size: 26px;
  }
}
@media screen and (min-width: 1280px) {
  .products__subtitle {
    font-size: 30px;
    line-height: 1.14;
  }
}

.products__title {
  margin: 0 0 144px 0;
  font-family: var(--additional-ff);
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--text-header-c);
}
@media screen and (min-width: 768px) {
  .products__title {
    font-size: 48px;
    margin: 0 0 152px 0;
  }
}
@media screen and (min-width: 1280px) {
  .products__title {
    font-size: 58px;
    margin: 0 0 259px 0;
    line-height: 1.14;
  }
}

@media screen and (min-width: 768px) {
  .products__card-set {
    display: flex;
    margin-left: -20px;
  }
}
@media screen and (min-width: 1280px) {
  .products__card-set {
    margin-left: -23px;
  }
}

.products-card {
  padding: 161px 40px 41px 40px;
  border-radius: 24px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .products-card {
    margin-left: 20px;
    padding: 152px 11px 40px 11px;
  }
}
@media screen and (min-width: 1280px) {
  .products-card {
    margin-left: 23px;
    padding: 163px 44px 50px 44px;
  }
}

.products-card:not(:last-child) {
  margin-bottom: 130px;
}
@media screen and (min-width: 768px) {
  .products-card:not(:last-child) {
    margin-bottom: 0px;
  }
}

.products-card.ice-cream {
  background-color: var(--hh-main-color);
}

.products-card.ice-coffee {
  background-color: var(--add-card-cofee);
}

.products-card.milkshakes {
  background-color: var(--add-card-milk);
}

.products-card__title {
  position: relative;
  margin: 0 0 66px 0;
  font-family: var(--additional-ff);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--text-alternate-c);
}
@media screen and (min-width: 1280px) {
  .products-card__title {
    font-size: 30px;
    line-height: 1.13;
    margin: 0 0 70px 0;
  }
}

.products-card__description {
  margin: 0 0 30px 0;
  font-family: var(--main-ff);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--text-alternate-c);
}
@media screen and (min-width: 768px) {
  .products-card__description {
    line-height: 1.76;
    margin: 0 0 40px 0;
  }
}
@media screen and (min-width: 1280px) {
  .products-card__description {
    font-size: 16px;
    margin: 0 0 62px 0;
  }
}

.products-card__btn {
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50%;
  border: 0;
  background-color: var(--main-color);
  text-align: center;
  color: var(--svg-main-color);
  cursor: pointer;
}
.products-card__btn:hover, .products-card__btnfocus {
  background-color: var(--svg-hover-color);
}

.products-card__title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -113%);
  width: 249px;
  height: 252px;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .products-card__title::before {
    width: 220px;
    height: 226px;
  }
}
@media screen and (min-width: 1280px) {
  .products-card__title::before {
    width: 337px;
    height: 335px;
  }
}

.products-card__title.ice-cream::before {
  background-image: url(../images/pink_ice.png);
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products-card__title.ice-cream::before {
    background-image: url(../images/pink_ice@2x.png);
  }
}

.products-card__title.ice-coffee::before {
  background-image: url(../images/coffee.png);
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products-card__title.ice-coffee::before {
    background-image: url(../images/coffee@2x.png);
  }
}

.products-card__title.milkshakes::before {
  background-image: url(../images/chocolate.png);
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products-card__title.milkshakes::before {
    background-image: url(../images/chocolate@2x.png);
  }
}

.products-card__title::after {
  content: "";
  position: absolute;
  top: 53px;
  left: 50%;
  transform: translateX(-50%);
  width: 26px;
  height: 6px;
  background-size: cover;
  background-image: url(../images/points.png);
}
@media screen and (min-width: 1280px) {
  .products-card__title::after {
    top: 66px;
  }
}/*# sourceMappingURL=main.css.map */


footer {
  padding-bottom: 25px;
  padding-top: 25px;
  background-color: var(--bg-alternate-color);
}

@media screen and (min-width: 768px) {
  footer .container.centered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

footer .container.centered .wrapper:first-child {
  margin-bottom: 43px;
}

@media screen and (min-width: 768px) {
  footer .container.centered .wrapper:first-child {
    margin-bottom: 91px;
  }
}

@media screen and (min-width: 1280px) {
  footer .container.centered .wrapper:first-child {
    margin-bottom: 97px;
  }
}

footer .footer-preheader {
  max-width: 232px;
  margin-top: 0px;
  margin-bottom: 17px;
  font-family: var(--additional-ff);
  font-size: 18px;
  line-height: calc(21 / 18);
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: var(--hh-alternate-color);
}

@media screen and (min-width: 768px) {
  footer .footer-preheader {
    font-size: 26px;
    line-height: calc(30 / 26);
  }
}

@media screen and (min-width: 1280px) {
  footer .footer-preheader {
    max-width: unset;
    font-size: 30px;
    line-height: calc(34 / 30);
  }
}

footer .footer-header {
  margin-top: 0px;
  margin-bottom: 0px;
  max-width: 200px;
  font-family: var(--additional-ff);
  font-size: 34px;
  line-height: calc(39 / 34);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-header-c);
}

@media screen and (min-width: 768px) {
  footer .footer-header {
    font-size: 48px;
    line-height: calc(55 / 48);
  }
}

@media screen and (min-width: 1280px) {
  footer .footer-header {
    max-width: unset;
    font-size: 58px;
    line-height: calc(66 / 58);
  }
}

footer .footer-social_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 46px;
}

@media screen and (min-width: 1280px) {
  footer .footer-social_list {
    margin-bottom: 50px;
  }
}

footer .footer-social_list li:not(:last-child) {
  margin-right: 28.24px;
}

footer .footer-contacts {
  margin-top: 0px;
  margin-bottom: 43px;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.86;
  text-align: right;
}

footer .footer-contacts .footer-phone a {
  color: var(--text-header-c);
}

@media screen and (min-width: 768px) {
  footer .footer-contacts {
    font-size: 14px;
    line-height: 1.86;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1280px) {
  footer .footer-contacts {
    max-width: unset;
    font-size: 16px;
    line-height: 1.86;
  }
}

.footer-social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--svg-contacts-color);
}

@media screen and (min-width: 768px) {
  .footer-social-links {
    width: 34px;
    height: 34px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-social-links {
    max-width: unset;
  }
}

.footer-social-links:hover, .footer-social-links:focus {
  background-color: var(--svg-main-color);
}

.footer-social-links .footer-icon {
  fill: var(--main-color);
}

.footer-copyright {
  padding-top: 22px;
  border-top: 1px solid #e1e1e1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-copyright_text {
  width: 140px;
  margin-top: 0px;
  margin: 0px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.52;
  color: var(--text-description-c);
}

@media screen and (min-width: 768px) {
  .footer-copyright_text {
    width: unset;
    line-height: 1.86;
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  .footer-copyright_text {
    max-width: unset;
  }

.gallery {
  padding: 30px 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(39%, #fff5f6), color-stop(41%, #fff));
  background-image: linear-gradient(to bottom, #fff5f6 39%, #fff 41%);
}
/*# sourceMappingURL=main.css.map */

