:root {
  // main colors
  --main-color: #fff;

  // bg-colors

  --bg-alternate-color: #fff5f6;

  // hero-headers colors

  --hh-main-color: #ffb8ca;
  --hh-alternate-color: #ffa5ba;

  //   fill svg colors

  --svg-main-color: #d41342;
  --svg-alternate-color: #fff;
  --svg-hover-color: #ecebeb;
  --svg-contacts-color: #fea5bb;

  //   text colors

  --text-main-c: #000;
  --text-alternate-c: #fff;
  --text-header-c: #d41443;
  --text-opacity-c: #ffa5ba;
  --text-description-c: #907e82;

  //   burger and menu color

  --b-burger-c: #d41443;
  --b-bg-menu-c: #e17992;

  //   additional colors

  --add-card-milk: #c2e297; // also in contacts
  --add-card-cofee: #f0d1a5; // also in contacts
  --add-coments: #fafafa;
  --add-underline-comments: #e1e1e1;

  // fonts

  --main-ff: 'DM Sans', sans-serif;
  --additional-ff: 'Titan One', cursive;
}
