<section class="about">
    <div class="container">
        <p class="about__label">tradition and love</p>
        <h2 class="about__title">how it’s<br> made?</h2>

        <div class="about__wrapper">
            <img class="about__img" srcset="/images/milk.png 1x, /images/milk@2x.png 2x" src="/images/milk.png" alt="Cute cow">
            <article>
                <p class="about__text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
                Maecenas eleifend erat at justo fringilla.</p>
                <p class="about__text">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
                Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, <br> tincidunt.</p>
                <p class="about__text">Aliquam erat volutpat. Aenean accumsan.</p>
                <button class="about-btn" type="button">
                    <span class="about-btn__title">Read more</span>
                    <svg width="5" height="8" aria-label="Article switch">
                        <use class="about-btn__arrow" href="/images/svg/arrow.svg"></use>
                        <use class="about-btn__cross" href="/images/svg/cross.svg"></use>
                    </svg>
                </button>               
            </article>
        </div>        
    </div>
</section>