<section class="about wow bounceInUp" id="made">
  <h1 class="visually-hidden">About Us</h1>

  <div class="container">
    <p class="about__label">tradition and love</p>
    <h2 class="about__title">how it’s<br/> made?</h2>
    <div class="about__wrapper">
      <img class="about__img" srcset="/images/milk.png 1x, /images/milk@2x.png 2x" src="/images/milk.png" alt="Cute cow" />
      <article class="about__article">
        <h3 class="visually-hidden">About</h3>
        <p class="about__text">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas
          eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about__text">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet
          placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.
        </p>
        <p class="about__text">Aliquam erat volutpat. Aenean accumsan.</p>
        <button class="about-btn md-trigger md-setperspective wow pulse" data-wow-iteration="infinite" type="button" data-modal="modal-about">
          Read more
          <svg class="about-btn__icon" width="12" height="12" aria-label="Article switch">
            <use class="about-btn__arrow" href="/images/icon_defs.svg#icon-arrow"></use>
          </svg>
        </button>
      </article>
    </div>
  </div>

  <div class="md-modal md-about-effect" id="modal-about">
    <div class="md-content">
      <h3>WHY US?</h3>
      <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit:</p>
        <ul>
          <li>
            <strong>Tasty:</strong> lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo, ullam. Impedit velab facere, iusto nesciunt corporis!
          </li>
          <li>
            <strong>Useful:</strong> lorem ipsum dolor sit amet consectetur adipisicing elit. Aut soluta ipsa aperiam magnam ratione!
          </li>
          <li><strong>Natural:</strong> Lorem ipsum dolor sit amet consectetur!</li>
        </ul>
        <button class="md-close wow pulse" data-wow-iteration="infinite" type="button">
          Buy now
        </button>
      </div>
    </div>
  </div>

  <div class="md-overlay"></div>
</section>