<section class="advantages">
  <div class="container centered">
    <ul class="advantages-list">
      <li class="advantages-item">
        <img
          srcset="images/glass.png 1x, images/glass@2x.png 2x"
          src="images/glass.png"
          alt="glass"
          width="33"
          class="advantages-img"
        />
        <h2 class="advantages-headline">721</h2>
        <p class="advantages-description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-item">
        <img
          srcset="images/apple.png 1x, images/apple@2x.png 2x"
          src="images/apple.png"
          alt="glass with apple"
          width="50"
          class="advantages-img"
        />
        <h2 class="advantages-headline">16KG</h2>
        <p class="advantages-description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-item">
        <img
          srcset="images/heart.png 1x, images/heart@2x.png 2x"
          src="images/heart.png"
          alt=" heart"
          width="44"
          class="advantages-img"
        />
        <h2 class="advantages-headline">84</h2>
        <p class="advantages-description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
