<section class="advantages">
  <div class="container centered wow bounceInUp">
    <ul class="advantages-list">
      <li class="advantages-item">
        <h2 class="advantages-headline advantages-glass">721</h2>
        <p class="advantages-description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-item">
        <h2 class="advantages-headline advantages-apple">16KG</h2>
        <p class="advantages-description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-item">
        <h2 class="advantages-headline advantages-heart">84</h2>
        <p class="advantages-description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
