<section class="contacts" id="contacts">
  <div class="container container-contacts">
    <h2 class="is-hidden">Contacts</h2>

    <ul class="contacts__list">
      <li class="contacts__item">
        <p class="contacts__label">Cafe</p>

        <div class="contacts-wrapper">
          <h3 class="contacts__title">Chicago</h3>
          <p class="contacts__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>

        <div class="contacts-wrapper">
          <ul class="schedule__list">
            <li class="schedule__item">
              <p class="schedule__item--day">Monday - Friday</p>
              <p class="schedule__item--time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="schedule__item">
              <p class="schedule__item--day">Saturday - Sunday</p>
              <p class="schedule__item--time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
        </div>

        <div class="contacts-wrapper">
          <ul class="contacts-link__list">
            <li>
              <a href="tel:+61(0) 383 766 284" class="contacts-link">+61(0) 383 766 284</a>
            </li>
            <li>
              <a href="mailto:noreply@envato.com" class="contacts-link">noreply@envato.com</a>
            </li>
          </ul>
        </div>
      </li>

      <li class="contacts__item">
        <p class="contacts__label contacts__label--color">FoodTruck</p>

        <div class="contacts-wrapper">
          <h3 class="contacts__title">Los Angeles</h3>
          <p class="contacts__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>

        <div class="contacts-wrapper">
          <ul class="schedule__list">
            <li class="schedule__item">
              <p class="schedule__item--day">Monday - Friday</p>
              <p class="schedule__item--time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="schedule__item">
              <p class="schedule__item--day">Saturday - Sunday</p>
              <p class="schedule__item--time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
        </div>

        <div class="contacts-wrapper">
          <ul class="contacts-link__list">
            <li>
              <a href="tel:+61(0) 383 766 284" class="contacts-link">+61(0) 383 766 284</a>
            </li>
            <li>
              <a href="mailto:noreply@envato.com" class="contacts-link">noreply@envato.com</a>
            </li>
          </ul>
        </div>
      </li>

      <li class="contacts__item">
        <p class="contacts__label">Cafe</p>

        <div class="contacts-wrapper">
          <h3 class="contacts__title">New York</h3>
          <p class="contacts__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>

        <div class="contacts-wrapper">
          <ul class="schedule__list">
            <li class="schedule__item">
              <p class="schedule__item--day">Monday - Friday</p>
              <p class="schedule__item--time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="schedule__item">
              <p class="schedule__item--day">Saturday - Sunday</p>
              <p class="schedule__item--time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
        </div>

        <div class="contacts-wrapper">
          <ul class="contacts-link__list">
            <li>
              <a href="tel:+61(0) 383 766 284" class="contacts-link">+61(0) 383 766 284</a>
            </li>
            <li>
              <a href="mailto:noreply@envato.com" class="contacts-link">noreply@envato.com</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>

    <div class="contacts__buttons">
      <button type="button" class="location-btn" data-modal-opn>
        Our Locations
        <svg class="contacts__icon" width="12" height="12">
          <use href="images/icon_defs.svg#icon-arrow"></use>
        </svg>
      </button>
      <button type="button" class="franchise-btn" data-open-franchise>
        Franchise
        <svg class="contacts__icon" width="12" height="12">
          <use href="images/icon_defs.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>
  </div>

  <!-- modal-map -->

  <div class="backdrop backdrop-settings is-hidden" data-modal-maps>
    <div class="modal-maps modal-settings">
      <button class="close-btn" data-modal-close>
        <svg class="close-icon">
          <use href="images/svg/cross.svg#icon-cross"></use>
        </svg>
      </button>

      <ul class="modal-maps__list">
        <li class="modal-maps__item">
          <p class="modal__title">Chicago</p>
          <iframe
            class="map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d47590.11820567064!2d-88.2902242697913!3d41.798522267192496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880efba46145acab%3A0x3f40bc8273792a12!2sChicago%20Premium%20Outlets!5e0!3m2!1sru!2sua!4v1643581019173!5m2!1sru!2sua"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
        </li>
        <li class="modal-maps__item">
          <p class="modal__title">Los Angeles</p>
          <iframe
            class="map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d105801.2786247445!2d-118.27313507848848!3d34.036432512750864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c626a9d4980f%3A0x3bb7bca5a7f43102!2sLos%20Angeles!5e0!3m2!1sru!2sua!4v1643583372213!5m2!1sru!2sua"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
        </li>
        <li class="modal-maps__item">
          <p class="modal__title">New York</p>
          <iframe
            class="map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193396.34806443626!2d-74.02819192458449!3d40.76602888765816!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c258f9cfcb250d%3A0xdb570ddcb766e3a8!2sNew%20York%20City%20Center!5e0!3m2!1sru!2sua!4v1643583516694!5m2!1sru!2sua"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
        </li>
      </ul>
    </div>
  </div>

  <!-- modal-franchise -->

  <div class="backdrop backdrop-settings is-hidden" data-modal-franchise>
    <div class="modal-franchis modal-settings">
      <button class="close-btn" data-close-franchise>
        <svg class="close-icon" width="16" height="16">
          <use href="images/svg/cross.svg#icon-cross"></use>
        </svg>
      </button>

      <p class="modal-franchis__title">Contact Us</p>

      <ul class="modal-franchis__list">
        <li>
          <a href="tel:+61(0) 383 766 284" class="contacts-link">tel: +61(0) 383 766 284</a>
        </li>
        <li>
          <a href="mailto:noreply@envato.com" class="contacts-link">mail: noreply@envato.com</a>
        </li>
      </ul>
    </div>
  </div>
</section>
