
<footer>
  <div class="container centered">
    <div class="wrapper">
      <p class="footer-preheader">homemade ice cream made</p>
      <h2 class="footer-header">with passion</h2>
    </div>
    <div class="wrapper">
      <ul class="footer-social_list">
        <li>
          <a href="#" class="footer-social-links">
            <svg width="20px" height="20px" class="footer-icon">
              <use href="images/icon_defs.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" class="footer-social-links">
            <svg width="20px" height="20px" class="footer-icon">
              <use href="images/icon_defs.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" class="footer-social-links">
            <svg width="20px" height="20px" class="footer-icon">
              <use href="images/icon_defs.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="footer-contacts">
        Feel free to contact
        <span class="footer-phone"><a href="tel:+61 (0) 383 766 284">+61 (0) 383 766 284</a></span>
      </p>
    </div>
  </div>
  <div class="footer-copyright">
    <p class="footer-copyright_text">&copy; 2019 - IceCream. All Rights Reserved.</p>
  </div>
</footer>

