<div class="hero">
  <div class="container container-position wow bounceInUp">
    <div class="hero__wrapper-title">
      <h1 class="hero__title wow fadeIn" data-wow-delay="0.6s">
        ice cream made with
        <span class="hero__title-changed wow fadeIn" data-wow-delay="1.2s">passion</span>
      </h1>
    </div>
    <div class="hero__wrapper-button wow fadeIn" data-wow-delay="1.8s">

      <a class="hero__link-products" href="#products">
      <button class="hero__products" type="button">        
          Products               
      </button>
      </a>

      <button class="hero__how-made wow pulse" data-wow-iteration="infinite" type="button">
        How it&#x2019;s made?
      </button>
    </div>

    <div class="hero__text-container wow fadeIn" data-wow-delay="3.6s">
      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <button class="hero__button-modal" type="button" data-modal-open>&#10132;</button>
    </div>

    <div class="hero__price-cafes wow fadeIn" data-wow-delay="2.4s">
      <svg class="hero__icon-cafes">
        <use href="images/svg/numbers.svg#icon-group-16"></use>
      </svg>
    </div>

    <div class="hero__price-food wow fadeIn" data-wow-delay="3s">
      <svg class="hero__icon-food">
        <use href="images/svg/numbers.svg#icon-group-23"></use>
      </svg>
    </div>
  </div>
</div>
