<div class="hero">
    <div class="container container-position">
        <div class="hero__wrapper-title">
            <h1 class="hero__title">ice cream made with <span class="hero__title-changed">passion</span></h1>
        </div>
            <div class="hero__wrapper-button">
                <button class="hero__products" type="button"> Products</button>
                <button class="hero__how-made" type="button">How it&#x2019;s made?</button>
            </div>
        
       

        <div class="hero__text-container">
            <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <button class="hero__button-modal" type="button" data-modal-open>&#10132;</button>
        </div> 

        <div class="hero__price-cafes">
            <svg class="hero__icon-cafes">
                <use href="images/svg/numbers.svg#icon-group-16"></use>
            </svg>           
        </div>

        <div class="hero__price-food">
            <svg class="hero__icon-food">
            <use href="images/svg/numbers.svg#icon-group-23"></use>
            </svg>            
        </div>
    </div>
</div>