<section class="products">
    <div class="container">
        <p class="products__subtitle">100% natural</p>
        <h2 class="products__title">products</h2>

        <ul class="products__card-set">
            <li class="products-card ice-cream">
                <h3 class="products-card__title ice-cream">ice cream</h3>
                <p class="products-card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis aute irure dolor pariatur dolore magnased do eiusmod tempor
                    incididunt ut <span class="dots">...</span><span class="more">labore et. dolore magna
                        aliqua facilisis. Duis aute irure dolor  pariatur dolore magna
                        aliqua facilisis.Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur consectetur adipiscing elit. </span></p>
                <button class="products-card__btn" type="button" aria-label="Read More">&#10132;</button>
            </li>
            <li class="products-card ice-coffee">
                <h3 class="products-card__title ice-coffee">ice coffee</h3>
                <p class="products-card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis aute irure dolor pariatur dolore magnased do eiusmod
                tempor
                incididunt ut <span class="dots">...</span><span class="more">labore et. dolore magna
                    aliqua facilisis.Lorem ipsum dolor sit amet labore et. dolore magna
                    aliqua facilisis.Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipiscing elit.consectetur adipiscing elitlabore et. dolore magna</span></p>
                <button class="products-card__btn" type="button" aria-label="Read More">&#10132;</button>
            </li>
            <li class="products-card milkshakes">
                <h3 class="products-card__title milkshakes">milkshakes</h3>
                <p class="products-card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis aute irure dolor pariatur dolore magnased do eiusmod
                tempor
                incididunt ut<span class="dots">...</span><span class="more">labore et. dolore magna
                    aliqua facilisis.Lorem  ex ea commodo consequat. aliqua facilisis.Lorem ex ea consectetur adipiscing commodo consequat.ex ea commodo consequat. aliqua facilisis. </span></p>
                <button class="products-card__btn" type="button" aria-label="Read More">&#10132;</button>
            </li>
        </ul>
    </div>
</section>