<section class="products">
    <div class="container">
        <p class="products__subtitle">100% natural</p>
        <h2 class="products__title">products</h2>

        <ul class="products__card-set">
            <li class="products-card">
                <h3 class="products-card__title">ice cream</h3>
                <p class="products-card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et</p>
                <button class="products-card__btn" type="button"></button>
            </li>
            <li class="products-card">
                <h3 class="products-card__title">ice coffee</h3>
                <p class="products-card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et</p>
                <button class="products-card__btn" type="button"></button>
            </li>
            <li class="products-card">
                <h3 class="products-card__title">milkshakes</h3>
                <p class="products-card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et</p>
                <button class="products-card__btn" type="button"></button>
            </li>
        </ul>
    </div>
</section>