<section class="products" id="products">
  <div class="container">
    <p class="products__subtitle wow fadeInUpBig" data-wow-delay="0.7s">100% natural</p>
    <h2 class="products__title wow fadeInUpBig" data-wow-delay="1s">products</h2>

    <ul class="products__card-set wow bounceInUp">
      <li class="products-card ice-cream wow rollIn" data-wow-delay="0.6s">
        <h3 class="products-card__title ice-cream wow fadeInDownBig" data-wow-delay="1.5s">
          ice cream
        </h3>
        <p class="products-card__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis aute irure dolor pariatur
          dolore magnased do eiusmod tempor incididunt ut <span class="dots">...</span
          ><span class="more"
            >labore et. dolore magna aliqua facilisis. Duis aute irure dolor pariatur dolore magna
            aliqua facilisis.Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur
            consectetur adipiscing elit.
          </span>
        </p>
        <button
          class="products-card__btn wow pulse"
          data-wow-iteration="infinite"
          type="button"
          aria-label="Read More"
        >
          &#10132;
        </button>
      </li>
      <li class="products-card ice-coffee wow rollIn" data-wow-delay="0.9s">
        <h3 class="products-card__title ice-coffee wow fadeInDownBig" data-wow-delay="1.8s">
          ice coffee
        </h3>
        <p class="products-card__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis aute irure dolor pariatur
          dolore magnased do eiusmod tempor incididunt ut <span class="dots">...</span
          ><span class="more"
            >labore et. dolore magna aliqua facilisis.Lorem ipsum dolor sit amet labore et. dolore
            magna aliqua facilisis.Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet,
            consectetur adipiscing elit.consectetur adipiscing elitlabore et. dolore magna</span
          >
        </p>
        <button
          class="products-card__btn wow pulse"
          data-wow-iteration="infinite"
          type="button"
          aria-label="Read More"
        >
          &#10132;
        </button>
      </li>
      <li class="products-card milkshakes wow rollIn" data-wow-delay="1.2s">
        <h3 class="products-card__title milkshakes wow fadeInDownBig" data-wow-delay="2.1s">
          milkshakes
        </h3>
        <p class="products-card__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis aute irure dolor pariatur
          dolore magnased do eiusmod tempor incididunt ut<span class="dots">...</span
          ><span class="more"
            >labore et. dolore magna aliqua facilisis.Lorem ex ea commodo consequat. aliqua
            facilisis.Lorem ex ea consectetur adipiscing commodo consequat.ex ea commodo consequat.
            aliqua facilisis.
          </span>
        </p>
        <button
          class="products-card__btn wow pulse"
          data-wow-iteration="infinite"
          type="button"
          aria-label="Read More"
        >
          &#10132;
        </button>
      </li>
    </ul>
  </div>
</section>
