br {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.about {
  background-color: var(--bg-alternate-color);
  max-width: 100%;
  background-image: url(/images/sectionbg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right 0 bottom 66px;
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(/images/sectionbg@2x.png);
  }
  @media screen and (min-width: 768px) {
    background-position: right 0 bottom -20px;
  }
  @media screen and (min-width: 1280px) {
    background-position: right 0 bottom -65px;
  }
  &__label {
    font-family: var(--additional-ff);
    font-weight: 400;
    color: var(--text-opacity-c);
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 18px;
    line-height: 1.17;
    padding-top: 125px;
    @media screen and (min-width: 768px) {
      display: block;
      padding-top: 130px;
      font-size: 26px;
      line-height: 1.15;
    }
    @media screen and (min-width: 1280px) {
      padding-top: 125px;
      font-size: 30px;
      line-height: 1.13;
      letter-spacing: 0.04em;
    }
  }
  &__title {
    font-family: var(--additional-ff);
    font-weight: 400;
    color: var(--text-header-c);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    font-size: 34px;
    line-height: 1.15;
    margin-top: 15px;
    @media screen and (min-width: 768px) {
      font-size: 48px;
      line-height: 1.15;
      white-space: nowrap;
    }
    @media screen and (min-width: 1280px) {
      font-size: 58px;
      line-height: 1.14;
      letter-spacing: 0.06em;
    }
  }
  &__wrapper {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-basis: calc((100% - 17px) / 2);
    }
    @media screen and (min-width: 1280px) {
      flex-basis: calc((100% - 74px) / 2);
    }
  }
  &__img {
    display: block;
    max-width: 100%;
    padding: 0 10px;
    margin-top: 30px;
    @media screen and (min-width: 768px) {
      width: 340px;
      height: 339px;
      padding: 0;
      margin-top: 50px;
    }
    @media screen and (min-width: 1280px) {
      width: 516px;
      height: 516px;
      margin-top: 55px;
    }
  }
  &__article {
    padding: 0 40px;
    margin-top: 50px;
    @media screen and (min-width: 768px) {
      margin-top: 100px;
      margin-left: 17px;
      padding: 0;
    }
    @media screen and (min-width: 1280px) {
      margin-top: 106px;
      margin-left: 74px;
    }
  }
  &__text {
    font-family: var(--main-ff);
    font-weight: 500;
    color: var(--text-description-c);
    font-size: 12px;
    line-height: 1.6;
    &:first-child {
      color: var(--text-main-c);
      @media screen and (min-width: 768px) {
        margin-bottom: 0;
      }
      @media screen and (min-width: 1280px) {
        letter-spacing: 0.04em;
      }
    }
    &:nth-child(2) {
      margin-top: 32px;
      @media screen and (min-width: 768px) {
        letter-spacing: 0.04em;
        margin-top: 33px;
        margin-bottom: 0;
      }
      @media screen and (min-width: 1280px) {
        margin-top: 35px;
      }
    }
    &:nth-child(3) {
      margin-top: 32px;
      @media screen and (min-width: 768px) {
        letter-spacing: 0.04em;
        margin-top: 10px;
        margin-bottom: 0;
      }
      @media screen and (min-width: 1280px) {
        margin-top: 35px;
      }
    }
    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.8;
    }
    @media screen and (min-width: 1280px) {
      &:first-child {
        font-size: 16px;
        line-height: 1.75;
      }
      font-size: 14px;
      line-height: 1.93;
      letter-spacing: 0.04em;
    }
  }
  .about-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--main-ff);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.3;
    color: var(--text-header-c);
    width: 176px;
    height: 44px;
    background: var(--main-color);
    border: transparent;
    border-radius: 22px;
    padding: 0;
    margin-top: 24px;
    cursor: pointer;
    z-index: 10;
    transition: background-color var(--transition-time-cubic);
    &:hover,
    &:focus {
      background-color: var(--svg-hover-color);
    }
    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 1.3;
      margin-top: 62px;
    }
    @media screen and (min-width: 1280px) {
      margin-top: 45px;
    }
    &__icon {
      margin-left: 14px;
    }
    &__arrow {
      fill: var(--text-header-c);
    }
  }
}

.md-perspective,
.md-perspective body {
  height: 100%;
  overflow: hidden;
}

.md-perspective body {
  background: #222;
  perspective: 600px;
}

.container {
  // background: var(--text-description-c);
  min-height: 100%;
}

.md-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 630px;
  min-width: 320px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  backface-visibility: hidden;
  transform: translateX(-50%) translateY(-50%);
}

.md-show {
  visibility: visible;
}

.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: rgba(143, 27, 15, 0.5);
  transition: all 0.3s;
}

.md-show ~ .md-overlay {
  opacity: 1;
  visibility: visible;
}

.md-content {
  color: #fff;
  background: var(--b-bg-menu-c);
  position: relative;
  border-radius: 22px;
  margin: 0 auto;
}

.md-content h3 {
  font-family: var(--additional-ff);
  margin: 0;
  padding: 0.4em;
  text-align: center;
  font-size: 2.4em;
  font-weight: 300;
  opacity: 0.8;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px 3px 0 0;
}

.md-content > div {
  padding: 15px 40px 30px;
  margin: 0;
  font-weight: 300;
  font-size: 1.15em;
}

.md-content > div p {
  margin: 0;
  padding: 10px 0;
}

.md-content > div ul {
  margin: 0;
  padding: 0 0 30px 20px;
}

.md-content > div ul li {
  padding: 5px 0;
}

.md-content button {
  display: block;
  width: 176px;
  height: 44px;
  margin: 0 auto;
  font-family: var(--main-ff);
  font-size: 0.8em;
  line-height: 1.3;
  font-weight: bold;
  border: transparent;
  border-radius: 22px;
  color: var(--text-header-c);
  background: var(--main-color);
  cursor: pointer;
  transition: background-color var(--transition-time-cubic);
}
.md-content button:hover,
.md-content button:hover {
  background-color: var(--hh-main-color);
}

.md-show.md-about-effect ~ .container {
  height: 100%;
  overflow: hidden;
  transition: transform 0.3s;
}

.md-show.md-about-effect ~ .container,
.md-show.md-about-effect ~ .md-overlay {
  transform: rotateX(-2deg);
  transform-origin: 50% 0%;
  transform-style: preserve-3d;
}

.md-about-effect .md-content {
  opacity: 0;
  transform: translateY(200%);
}

.md-show.md-about-effect .md-content {
  transform: translateY(0);
  opacity: 1;
  transition: all 0.3s 0.2s;
}
