.advantages {
  padding-top: 20px;
  padding-bottom: 49px;
  background-color: var(--bg-alternate-color);

  @media screen and (min-width: 768px) {
    padding-top: 33px;
    padding-bottom: 70px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 73px;
  }
}

.advantages-img {
  margin-bottom: 16px;
}

.advantages-list {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.advantages-item {
  &:not(:last-child) {
    margin-bottom: 38px;
    @media screen and (min-width: 768px) {
      margin-bottom: 0px;
      margin-right: 60px;
    }
    @media screen and (min-width: 1280px) {
      margin-right: 30px;
    }
  }
}

.advantages-headline {
  margin-top: 0px;
  margin-bottom: 13px;

  font-family: var(--additional-ff);
  font-size: 36px;
  line-height: calc(41 / 36);
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--text-header-c);

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: calc(55 / 48);
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: calc(66 / 58);
  }
}

.advantages-glass {
  &::before {
    content: ' ';
    width: 33px;
    height: 50px;
    display: block;
    background-image: url(/images/glass.png);
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
      margin-bottom: 36px;
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 40px;
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(/images/glass@2x.png);
    }
  }
}

.advantages-apple {
  &::before {
    content: ' ';
    width: 50px;
    height: 50px;
    display: block;
    background-image: url(/images/apple.png);
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
      margin-bottom: 36px;
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 40px;
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(/images/apple@2x.png);
    }
  }
}

.advantages-heart {
  &::before {
    content: ' ';
    width: 44px;
    height: 50px;
    display: block;
    background-image: url(/images/heart.png);
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
      margin-bottom: 36px;
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 40px;
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(/images/heart@2x.png);
    }
  }
}

.advantages-description {
  margin-top: 0px;
  margin-bottom: 0%;
  font-family: var(--main-ff);
  font-weight: bold;
  font-size: 12px;
  line-height: 1.7;
  @media screen and (min-width: 768px) {
    width: 180px;
    font-size: 14px;
    line-height: calc(24 / 14);
  }
  @media screen and (min-width: 1280px) {
    width: 330px;
    font-size: 16px;
    line-height: calc(28 / 16);
  }
}
