.contacts {
  padding-top: 43px;
  padding-bottom: calc(113px - 25px);

  background-image: linear-gradient(to top, #fff5f6 92%, #fff 5%);

  @media screen and (min-width: 768px) {
    padding-top: 60px;

    background-image: linear-gradient(to top, #fff5f6 83%, #fff 12%);
  }

  @media screen and (min-width: 1280px) {
    padding-top: 88px;

    background-image: url(../images/sectionbg2.png), linear-gradient(to top, #fff5f6 78%, #fff 12%);
    background-repeat: no-repeat;
    background-position: 0 102px, 0;
    background-size: contain;
  }

  &__list {
    margin-bottom: 54px;

    @media screen and (min-width: 768px) {
      display: flex;
    }

    @media screen and (min-width: 768px) {
      margin: -10px;
    }

    @media screen and (min-width: 1280px) {
      margin: -15px;
    }
  }

  &__item {
    padding: 43px 20px;
    background: var(--main-color);
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;

    @media screen and (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    @media screen and (min-width: 768px) {
      width: calc((100% - 6 * 10px) / 3);
      margin: 10px;
    }

    @media screen and (min-width: 1280px) {
      padding: 43px 43px;
      width: calc((100% - 6 * 15px) / 3);
      margin: 15px;
    }
  }

  &__label {
    margin: 0;
    width: 80px;
    border-radius: 4px;
    background-color: var(--add-card-cofee);
    text-transform: uppercase;
    letter-spacing: 0.04em;
    color: var(--text-alternate-c);
    text-align: center;

    &--color {
      background-color: var(--add-card-milk);
      width: 130px;
    }

    @media screen and (min-width: 768px) {
      font-size: 16px;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: inherit;
    font-weight: 500;
    letter-spacing: 0.04em;

    @media screen and (min-width: 768px) {
      line-height: 1.86;
    }
  }

  &__description {
    margin: 0;

    line-height: 1.5;
    color: var(--text-description-c);

    @media screen and (min-width: 320px) {
      line-height: 1.5;
    }

    @media screen and (min-width: 768px) {
      line-height: 1.66;
    }

    @media screen and (min-width: 1280px) {
      line-height: 1.83;
    }
  }

  &__buttons {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin-top: 81px;
      justify-content: center;
    }
  }
}

.container-contacts {
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 12px;
  line-height: 1.86;

  @media screen and (min-width: 768px) {
    padding-left: 9px;
    padding-right: 9px;
    font-size: 14px;
  }

  @media screen and (min-width: 1280px) {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
  }
}

.contacts-wrapper {
  margin-top: 25px;

  &:not(:last-child) {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 25px;
  }

  @media screen and (min-width: 320px) {
    line-height: 1.5;
  }

  @media screen and (min-width: 768px) {
    line-height: 1.83;
  }
}

.schedule__list {
  @media screen and (min-width: 768px) {
    line-height: 1.86;
  }
}

.schedule__item + .schedule__item {
  margin-top: 10px;
}

.schedule__item--day {
  margin: 0;
  font-weight: 500;
}

.schedule__item--time {
  margin: 0;
  color: var(--text-opacity-c);
}

.contacts-link {
  line-height: 1.5;
  color: var(--text-description-c);
}

.location-btn,
.franchise-btn {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1.3;
  font-weight: bold;

  min-width: 161px;
  height: 44px;

  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.location-btn {
  &:hover {
    background-color: var(--hh-hover-color);
  }

  @include button(17px, 17px, #ffffff, #d41443);

  @media screen and (max-width: 767px) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: 768px) {
    margin-right: 15px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media screen and (min-width: 1280px) {
    padding-left: 35px;
    padding-right: 35px;
  }
}

.franchise-btn {
  &:hover {
    background-color: var(--svg-hover-color);
  }

  @include button(32px, 32px, #d41443, #ffffff);

  @media screen and (min-width: 768px) {
    margin: 0px;
    padding-left: 37px;
    padding-right: 37px;
  }

  @media screen and (min-width: 1280px) {
    padding-left: 39px;
    padding-right: 39px;
  }
}

.contacts__icon {
  fill: currentColor;
  margin-left: 8px;
}

s
.backdrop-settings {
  overflow: scroll;
}

.modal-settings {
  width: 280px;
  padding: 20px 25px;
  border-radius: 24px;
  color: #d41443;
  background-color: var(--bg-alternate-color);

  @media screen and (min-width: 768px) {
    width: 500px;
    padding: 30px 35px;
  }

  @media screen and (min-width: 1280px) {
    width: 600px;
    padding: 35px 40px;
  }
}

.modal-maps {
  position: absolute;
  top: 25px;
  left: 50%;

  transform: translate(-50%, 0);

  @media screen and (min-width: 768px) {
    height: 700px;
  }

  @media screen and (min-width: 1280px) {
    height: 750px;

    top: 50px;
    left: 50%;

    transform: translate(-50%, 0);
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 15px;
    }

  }
}

.close-btn {

  @include button(0px, 0px, #d41443, #fff5f6);

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -12px;
  right: -12px;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;

  border: 1px solid rgba(0, 0, 0, 0.1);

  @media screen and (min-width: 1280px) {
    top: -18px;
    right: -18px;
    width: 35px;
    height: 35px;
  }

  &:hover {
    background-color: var(--hh-alternate-color);
    border: none;
    color: #fff;
  }
}

.close-icon {
  width: 16px;
  height: 16px;
  fill: currentColor;

  @media screen and (min-width: 1280px) {
    width: 18px;
    height: 18px;

  }
}

.map {
  width: 100%;
  height: 130px;
  border-radius: 10px;


  @media screen and (min-width: 768px) {
    height: 175px;
  }

  @media screen and (min-width: 1280px) {
    height: 185px;
  }

}

.modal__title {
  margin: 0;
  padding-bottom: 5px;

  font-size: 12px;
  font-weight: bold;
  text-align: start;


  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.modal-franchis {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  @media screen and (min-width: 768px) {
    font-size: 30px;
  }

  &__title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 20px;

    @media screen and (min-width: 768px) {
      font-size: 30px;
    }
  }

  &__list {
    font-size: 15px;
    text-align: center;
    padding-bottom: 15px;

    @media screen and (min-width: 768px) {
      font-size: 25px;
    }
  }

}
