.gallery {
  padding-top: 49px;
  padding-bottom: 40px;

  background-image: linear-gradient(to bottom, #fff5f6 50%, #fff 50%);
}

.gallery-image {
  display: block;
  max-width: 100%;
  height: auto;
}
