.products {
  padding-top: 121px;
  padding-bottom: 98px;
}
.products__subtitle {
  margin: 0 0 15px 0;

  font-family: var(--additional-ff);
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-opacity-c);
}
.products__title {
  margin: 0 0 144px 0;

  font-family: var(--additional-ff);
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--text-header-c);
}
.products-card {
  padding: 161px 40px 41px 40px;
  border-radius: 24px;

  text-align: center;

  @media screen and (min-width: 768px) {
    margin-left: 20px;
    padding: 152px 11px 40px 11px;
  }
}
.products-card:not(:last-child) {
  margin-bottom: 130px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }
}
.products-card.ice-cream {
  background-color: var(--hh-main-color);
}
.products-card.ice-coffee {
  background-color: var(--add-card-cofee);
}
.products-card.milkshakes {
  background-color: var(--add-card-milk);
}
.products-card__title {
  position: relative;

  margin: 0 0 66px 0;

  font-family: var(--additional-ff);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--text-alternate-c);
}
.products-card__title::before {
  content: '';

  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -113%);

  width: 249px;
  height: 252px;

  background-size: cover;
  @media screen and(min-width:768px) {
    width: 220px;
    height: 226px;
  }
}
.products-card__title.ice-cream::before {
  background-image: url(../images/pink_ice.png);
  @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/pink_ice@2x.png);
  }
}
.products-card__title.ice-coffee::before {
  background-image: url(../images/coffee.png);
  @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/coffee@2x.png);
  }
}
.products-card__title.milkshakes::before {
  background-image: url(../images/chocolate.png);
  @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/chocolate@2x.png);
  }
}
.products-card__title::after {
  content: '';
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);

  width: 26px;
  height: 6px;
}

.products-card__description {
  margin: 0 0 30px 0;

  font-family: var(--main-ff);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--text-alternate-c);
}
.products-card__btn {
  width: 40px;
  height: 40px;
  padding: 0;

  border-radius: 50%;
  border: 0;
  background-color: var(--main-color);
  text-align: center;
  color: var(--svg-main-color);
}

.products__card-set {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
