footer {
  padding-bottom: 25px;
  padding-top: 25px;
  background-color: var(--bg-alternate-color);

  @media screen and (min-width: 768px) {
    padding-top: 88px;
    padding-bottom: 18px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 10px;
  }
  & .container.centered {
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      margin-bottom: 43px;
      @media screen and (min-width: 768px) {
        margin-bottom: 91px;
      }
      @media screen and (min-width: 1280px) {
        margin-bottom: 97px;
      }
    }
  }
  .footer-preheader {
    max-width: 232px;
    margin-top: 0px;
    margin-bottom: 17px;
    font-family: var(--additional-ff);

    font-size: 18px;
    line-height: calc(21 / 18);
    text-transform: uppercase;
    letter-spacing: 0.04em;

    color: var(--hh-alternate-color);
    @media screen and (min-width: 768px) {
      font-size: 26px;
      line-height: calc(30 / 26);
    }
    @media screen and (min-width: 1280px) {
      max-width: unset;
      font-size: 30px;
      line-height: calc(34 / 30);
    }
  }
  .footer-header {
    margin-top: 0px;
    margin-bottom: 43px;
    max-width: 200px;

    font-family: var(--additional-ff);

    font-size: 34px;
    line-height: calc(39 / 34);
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--text-header-c);

    @media screen and (min-width: 768px) {
      font-size: 48px;
      line-height: calc(55 / 48);
      margin-bottom: 0px;
    }
    @media screen and (min-width: 1280px) {
      max-width: unset;

      font-size: 58px;
      line-height: calc(66 / 58);
    }
  }
  .footer-social_list {
    display: flex;
    justify-content: flex-end;

    margin-bottom: 46px;
    @media screen and (min-width: 1280px) {
      margin-bottom: 50px;
    }
    li {
      &:not(:last-child) {
        margin-right: 28.24px;
      }
    }
  }
  .footer-contacts {
    margin-top: 0px;
    margin-bottom: 43px;

    font-weight: bold;
    font-size: 12px;
    line-height: 1.86;

    text-align: right;
    .footer-phone {
      a {
        color: var(--text-header-c);
      }
    }
    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.86;
      margin-bottom: 0px;
    }
    @media screen and (min-width: 1280px) {
      max-width: unset;
      font-size: 16px;
      line-height: 1.86;
    }
  }
}
.footer-social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--svg-contacts-color);
  @media screen and (min-width: 768px) {
    width: 34px;
    height: 34px;
  }
  @media screen and (min-width: 1280px) {
    max-width: unset;
  }

  &:hover,
  &:focus {
    background-color: var(--svg-main-color);
  }
  .footer-icon {
    fill: var(--main-color);
  }
}

.footer-copyright {
  padding-top: 22px;
  border-top: 1px solid #e1e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 768px) {
    padding-top: 29px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 10px;
  }
}

.footer-copyright_text {
  width: 140px;
  margin-top: 0px;
  margin: 0px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.52;

  color: var(--text-description-c);
  @media screen and (min-width: 768px) {
    width: unset;

    line-height: 1.86;

    @media screen and (min-width: 1280px) {
      max-width: unset;
    }
  }
}
