@import './header/button-nav';

@import './header/buy-now';

@import './header/sait-nav';

@import "./header/backdrop";

h1,
h2,
h3,
p {
  margin: 0;
}

.header {
  background-color: var(--hh-main-color);
  position: relative;
  display: flex;  
}

.header__container {
  position: relative;
  padding-top: 6px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;

  @media screen and (max-width: 767px) {
    width: 300px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 720px;
    padding-top: 37px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 37px;
    padding-left: 255px;    
  }
}

.header__wraper {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  // z-index: 5;

  @media screen and (max-width: 1279px) {
    padding-top: 60px;
    padding-left: 21px;
    padding-right: 20px;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    &.is-open {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      background-color: var(--b-bg-menu-c);
      transform: translateY(0);
      width: 100%;
      height: 100vh;
      opacity: 1;
      visibility: visible;
      pointer-events: initial;
    }
  }
}

.header__nav {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    display: flex;
  }

  @media screen and (min-width: 1280px) {
    display: flex;
    align-items: center;
  }
}

.header__link {
 @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-right: 291px;
  }

  @media screen and (min-width: 1280px) {
    position: absolute;
    top: 37px;
    left: -59px;
  }
}

.header__button-close {
  position: absolute;
  top: 23px;
  right: 28px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  width: 14px;
  height: 14px;

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.header__icon-close {
  width: 100%;
  height: 100%;
}

%link {
  text-decoration: none;
}

%list {
  list-style: none;
  padding: 0;
  margin: 0;
}

%img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header-modal_lines {
  display: block;
  width: 20px;
  height: 1px;
  background-color: var(--svg-main-color);
  &:not(:first-child) {
    margin-top: 5px;
  }
}

.header-burger {
  border: none;
  background-color: inherit;
  padding: 0;
  z-index: 10;
  &:hover .header-modal_lines {
    background-color: red;
  }

  @media screen and (min-width: 1280px) {
     display: none;
  }
}

.header-modal {  
  display: flex; 
  flex-direction: column;
  align-items: center;
  padding-top: 23px;
  background-color: var(--b-bg-menu-c);  
  height: 100vh; 
  z-index: 999;   
}

.header-modal__wrapper {
  padding: 60px 21px;
  position: relative;
  z-index: 999;

  @media screen and (min-width: 768px) {
    padding: 60px 34px;
  }
}

.header-modal_nav {
  @media screen and (min-width: 768px) {
    position: absolute;
    top: 136px;
    left: 24px;    
  }

}

.header-modal_nav__item {
  height: 42px;
  display: flex;
  align-items: center;
  border-top: 1px solid #e18298;

  &:last-child {
    border-bottom: 1px solid #e18298;
  }
}

.header-modal_nav__link {
  text-decoration: none;
  font-family: var(--main-ff);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.29;
  align-items: center;
  cursor: pointer;

  color: var(--text-alternate-c);

  &:hover,
  &:focus {
    color: var(--svg-hover-color);
  }
}

.header-modal_nav__link--current {
  color: var(--text-header-c);
}
